*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    /* font-family: 'montserrat'; */
    font-family: 'Poppins';

}
html,body{
    height:100%;
    width: 100%;

    /* perspective: 400px; */
}
#nav{
    width: 100vw;
    height: 16vh;
    background-color: #393939;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
}
#nav a {
    text-decoration: none;
    font-size: 1.5vw;
    border: 1px solid white;
    padding: 0.5vw 1vw;
    border-radius: 50px;
    color: #fdfdfd;
}
#nav #logo{
    height: 8vw;
    width: 8vw;
    /* background-color: black; */
    overflow: hidden;
    object-fit: cover;
    object-position: center;

}
#nav img{
    height: 100%;
    width: 100%;

}
#nav #right{
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
    align-items: center;
}
#page1{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #393939;


}
#filter::-ms-clear,
#filter::-ms-reveal,
#filter::-webkit-search-cancel-button,
#filter::-webkit-search-decoration,
#filter::-webkit-search-results-button,
#filter::-webkit-search-results-decoration {
    display: none;
}
#search{
    width: 100%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393939;
    padding: 2vw 4vw;
    position: relative;
}
#search #filter{
    width: 36vw;
    height: 3.3vw;
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 1vw;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background-color: black;

}
#filter::placeholder {
    color: #fdfdfd; 
    font-size: large;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.262);
}
#filter:focus {
    border-color: #5c5c5c;
}
#filter::-webkit-search-cancel-button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

#filter::-webkit-search-cancel-button::before {
    content: "×"; /* You can replace this with any symbol or image */
    color: #999; /* Change the color of the clear button */
    font-size: 14px; /* Adjust the font size as needed */
}
#filter:focus::placeholder {
    color: transparent; 
}
#products{
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap:wrap;
    /* background-color:purple ; */
    padding: 2vw 2vw;
    gap: 2vw;
}
.product{
    height: 58vh;
    width: 22vw;
    background-color: rgb(240, 234, 234);
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    /* border: 2px solid rgb(218, 218, 218); */
    box-shadow: 8px 5px 9px 0px black;
    border-radius: 15px;
}
.product .image{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;

    }
.data{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* row-gap: px; */
    flex-direction: column;
    color: black;
    /* background-color: aqua; */
}
.data #brand{
    color: black;
    font-size: small;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.data #brand h3{
    color: black;
    font-size: small;
    font-weight: 300;


}
#icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    font-size: 9px;
    text-decoration: none;
    padding: 3px 5px;
}

#icons a{
    text-decoration: none;
    padding: 7px 14px;
    background-color: black;
    /* font-weight: 800; */
    color: aliceblue;
    font-size: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* gap: 2px; */
}
#icons i{
    font-size: 19px;
}
#upper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1px 2px;
    color: black;
}
#upper h3{
    color: black;
}
.seemore a{
    font-size: 35px;
    color: black;
    text-decoration: none;
}
.seemore i{
    color: black;
}
#filter-type{
    background-color: black;
    color: white;
    padding: 6px 16px;
    border-radius: 13px;
    border: 1px solid white;
}
#filter-type option{
    background-color: #393939;
    color:white
}
#voicebtn{
    font-size: 35px;
    border-radius: 50%;
    color: white;
    position: relative;
    left: 10px;
    /* background-color: black; */
}